body{ margin: 0 auto;
	  
	  background-repeat: no-repeat;
	  background-size: 100% 720px;
}
.container{
	  width: 400px;
	  height: 550px;
	  text-align: center;
	  background-color: rgba(52, 73, 94, 0.7);
	  border-radius: 4px;
	  margin: 0 auto;
	  margin-top: 80px;
}
.container img{
	  width: 400px;
	  height: 400px;
	  margin-top: -168px;
	  margin-bottom: -130px;
	
}
input[type="number_format"],input[type="text"],input[type="password"]{
	  height: 45px;
	  width: 300px;
	  font-size: 20px;
	  border-radius: 4px;
	  border: none;
	  margin-bottom: 20px;
	  background-color: #fff;
	  padding-left: 30px;
}
.btn-login{
	  padding: 15px 30px;
	  color: #fff;
	  background-color: #2ecc71;
	  border: none;
	  border-radius: 4px;
	  border-bottom: 2px solid;
	  
}
a{
	  color: #fff;
	
}